{% extends "home.html" %}
{% block content %}
  <h2>Telekominikasyon Hattı Parametreleri</h2>
  <form method="POST">
    <div class="form-group">
      <label for="TLC_hattı">Telekominikasyon Hattı Bulunuyor Mu:</label>
      <br>
      <select name="TLC_hattı" id="TLC_hattı" required>
        <option value="" disabled {% if not TLC_hattı %}selected{% endif %}>Seçiniz</option>
        <option value="Var" {% if TLC_hattı == 'Var' %}selected{% endif %}>Var</option>
        <option value="Yok" {% if TLC_hattı == 'Yok' %}selected{% endif %}>Yok</option>
      </select>
    </div>

    <div class="form-group"><!-- A_L_TCL -->
      <label for="hat_uzunluk_TLC">Telekominikasyon Hattı Uzunluğu:</label>
      <input type="number" step="any" name="hat_uzunluk_TLC" id="hat_uzunluk_TLC" required
             value="{{ hat_uzunluk_TLC }}" placeholder="metre" />
      <!-- Bilinmiyor checkbox ekleniyor -->
      <label for="hat_uzunluk_TLC_bilinmiyor">
        <input type="checkbox" id="hat_uzunluk_TLC_bilinmiyor" name="hat_uzunluk_TLC_bilinmiyor"
               {% if hat_uzunluk_TLC == '-' %}checked{% endif %}>
        Bilinmiyor
      </label>
    </div>
      
    <div class="form-group"><!-- C_I_TCL -->
      <label for="tesisat_faktörü_TLC">Telekominikasyon Hattının Tesisat Güzergahı:</label>
      <br>
      <select name="tesisat_faktörü_TLC" id="tesisat_faktörü_TLC" required>
        <option value="" disabled {% if not tesisat_faktörü_TLC %}selected{% endif %}>Seçiniz</option>
        <option value="Havai" {% if tesisat_faktörü_TLC == 'Havai' %}selected{% endif %}>Havai</option>
        <option value="Gömülü" {% if tesisat_faktörü_TLC == 'Gömülü' %}selected{% endif %}>Gömülü</option>
      </select>
    </div>

    <div class="form-group">
      <label for="dayanım_gerilimi_TLC">Telekominikasyon Hattının Dayanım Gerilimi:</label>
      <br>
      <select name="dayanım_gerilimi_TLC" id="dayanım_gerilimi_TLC" required>
        <option value="" disabled {% if not dayanım_gerilimi_TLC %}selected{% endif %}>Seçiniz</option>
        <option value="Yeterli Değil" {% if dayanım_gerilimi_güç == 'Yeterli Değil' %}selected{% endif %}>Yeterli Değil</option>
        <option value="1 kV" {% if dayanım_gerilimi_TLC == '1 kV' %}selected{% endif %}>1 kV</option>
        <option value="1.5 kV" {% if dayanım_gerilimi_TLC == '1.5 kV' %}selected{% endif %}>1.5 kV</option>
        <option value="2.5 kV" {% if dayanım_gerilimi_TLC == '2.5 kV' %}selected{% endif %}>2.5 kV</option>
        <option value="4 kV" {% if dayanım_gerilimi_TLC == '4 kV' %}selected{% endif %}>4 kV</option>
        <option value="6 kV" {% if dayanım_gerilimi_TLC == '6 kV' %}selected{% endif %}>6 kV</option>
      </select>
    </div>

    <div class="form-group"><!-- P_EB -->
      <label for="SPD_TLC">Telekominikasyon Hattı SPD Seviyesi:</label>
      <br>
      <select name="SPD_TLC" id="SPD_TLC" required>
        <option value="" disabled {% if not SPD_TLC %}selected{% endif %}>Seçiniz</option>
        <option value="SPD Bulunmuyor" {% if SPD_TLC == 'SPD Bulunmuyor' %}selected{% endif %}>SPD Bulunmuyor</option>
        <option value="4-3. Seviye SPD" {% if SPD_TLC == '4-3. Seviye SPD' %}selected{% endif %}>4-3. Seviye SPD</option>
        <option value="2. Seviye SPD" {% if SPD_TLC == '2. Seviye SPD' %}selected{% endif %}>2. Seviye SPD</option>
        <option value="1. Seviye SPD" {% if SPD_TLC == '1. Seviye SPD' %}selected{% endif %}>1. Seviye SPD</option>
      </select>
    </div>

    <div class="form-group">
      <label for="dış_hat_tipi_TLC">Telekominikasyon Hattının Tipi:</label>
      <br>
      <select name="dış_hat_tipi_TLC" id="dış_hat_tipi_TLC" required><!-- C_LI_TCL -->
        <option value="" disabled {% if not dış_hat_tipi_TLC %}selected{% endif %}>Seçiniz</option>
        <option value="Zırhlanmamış Telekominikasyon Hattı" {% if dış_hat_tipi_TLC == 'Zırhlanmamış Telekominikasyon Hattı' %}selected{% endif %}>Zırhlanmamış Telekominikasyon Hattı</option>
        <option value="Zırhlanmış Telekominikasyon Hattı" {% if dış_hat_tipi_TLC == 'Zırhlanmış Telekominikasyon Hattı' %}selected{% endif %}>Zırhlanmış Telekominikasyon Hattı</option>
      </select>
    </div>

 

    <div class="form-group">
      <label for="giriş_TLC">Telekominikasyon Hattının Giriş Bağlantısı:</label><!-- C_LI_TLC -->
      <br>
      <select name="giriş_TLC" id="giriş_TLC" required>
        <option value="" disabled {% if not giriş_TLC %}selected{% endif %}>Seçiniz</option>
        <option value="Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmamış" {% if giriş_TLC == 'Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmamış' %}selected{% endif %}>Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmamış</option>
        <option value="Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmış" {% if giriş_TLC == 'Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmış' %}selected{% endif %}>Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmış</option>
      </select>
    </div>
    <div class="form-group">
      <label for="iç_hat_TLC">Hattının İç Kablaj Tipi:</label> <!-- KS3 -->
      <br>
      <select name="iç_hat_TLC" id="iç_hat_TLC" required>
        <option value="" disabled {% if not iç_hat %}selected{% endif %}>Seçiniz</option>
        <option value="Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri yok" {% if iç_hat_TLC == 'Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri yok' %}selected{% endif %}>Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri yok</option>
        <option value="Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (10 m^2 mertebesinde döngü alanı)"  {% if iç_hat_TLC == "Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (10 m^2 mertebesinde döngü alanı)"  %}selected{% endif %}>"Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (10 m^2 mertebesinde döngü alanı)" </option>
        <option value="Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (0.5 m^2 mertebesinde döngü alanı)"  {% if iç_hat_TLC == "Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (0.5 m^2 mertebesinde döngü alanı)"  %}selected{% endif %}>"Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (0.5 m^2 mertebesinde döngü alanı)" </option>
        <option value="Zırhlanmış kablolar ve metal kanal içinde serili kablolar" {% if iç_hat_TLC == 'Zırhlanmış kablolar ve metal kanal içinde serili kablolar' %}selected{% endif %}>Zırhlanmış kablolar ve metal kanal içinde serili kablolar</option>
      </select>
    </div>

    <div class="form-group" style="justify-content: center;">
        <button type="submit">Kaydet ve Devam Et</button>
        
    </div>
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // "Telekominikasyon Hattı Bulunuyor Mu:" seçimine göre diğer alanları etkin/pasif yapma
      var tlcSelect = document.getElementById("TLC_hattı");
      var fieldsToDisable = ["hat_uzunluk_TLC", "tesisat_faktörü_TLC", "dayanım_gerilimi_TLC", "dış_hat_tipi_TLC", "giriş_bağlantısı_TLC", "dış_hat_güzergah_TLC", "SPD_TLC","iç_hat_TLC","giriş_TLC"];

      function toggleTLCFields() {
        var disable = (tlcSelect.value === "Yok");
        fieldsToDisable.forEach(function(fieldId) {
          var field = document.getElementById(fieldId);
          if (field) {
            field.disabled = disable;
          }
        });
      }

      tlcSelect.addEventListener("change", toggleTLCFields);
      toggleTLCFields();

      // "Bilinmiyor" checkbox'ına göre Telekominikasyon Hattı Uzunluğu alanını etkin/pasif yapma
      var bilinmiyorCheckbox = document.getElementById("hat_uzunluk_TLC_bilinmiyor");
      var hatUzunlukField = document.getElementById("hat_uzunluk_TLC");

      function toggleHatUzunlukTLC() {
        if (bilinmiyorCheckbox.checked) {
          hatUzunlukField.disabled = true;
        } else {
          if (tlcSelect.value !== "Yok") {
            hatUzunlukField.disabled = false;
          }
        }
      }

      bilinmiyorCheckbox.addEventListener("change", toggleHatUzunlukTLC);
      toggleHatUzunlukTLC();
    });
  </script>
{% endblock %}
