{% extends "home.html" %}
{% block content %}
  <h2>Güç Hattı Parametreleri</h2>
  <form method="POST">
    <div class="form-group">
      <label for="güç_hattı">Güç Hattı Bulunuyor Mu:</label>
      <br>
      <select name="güç_hattı" id="güç_hattı" required>
        <option value="" disabled {% if not güç_hattı %}selected{% endif %}>Seçiniz</option>
        <option value="Var" {% if güç_hattı == 'Var' %}selected{% endif %}>Var</option>
        <option value="Yok" {% if güç_hattı == 'Yok' %}selected{% endif %}>Yok</option>
      </select>
    </div>

    <div class="form-group">
      <label for="hat_uzunluk_güç">Güç Hattı Uzunluğu:</label>
      <input type="number" step="any" name="hat_uzunluk_güç" id="hat_uzunluk_güç" required
             value="{{ hat_uzunluk_güç }}" placeholder="metre" />
      <!-- Bilinmiyor checkbox ekleniyor -->
      <label for="hat_uzunluk_bilinmiyor">
        <input type="checkbox" id="hat_uzunluk_bilinmiyor" name="hat_uzunluk_bilinmiyor"
               {% if hat_uzunluk_güç == '-' %}checked{% endif %}>
        Bilinmiyor
      </label>
    </div>
      
    <div class="form-group"><!-- C_I -->
      <label for="tesisat_faktörü_güç">Güç Hattının Tesisat Güzergahı:</label>
      <br>
      <select name="tesisat_faktörü_güç" id="tesisat_faktörü_güç" required>
        <option value="" disabled {% if not tesisat_faktörü_güç %}selected{% endif %}>Seçiniz</option>
        <option value="Havai" {% if tesisat_faktörü_güç == 'Havai' %}selected{% endif %}>Havai</option>
        <option value="Gömülü" {% if tesisat_faktörü_güç == 'Gömülü' %}selected{% endif %}>Gömülü</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="güç_hattı_tipi">Güç Hattının Tipi:</label><!-- C_T -->
      <br>
      <select name="güç_hattı_tipi" id="güç_hattı_tipi" required>
        <option value="" disabled {% if not güç_hattı_tipi %}selected{% endif %}>Seçiniz</option>
        <option value="AG Güç Hattı" {% if güç_hattı_tipi == 'AG Güç Hattı' %}selected{% endif %}>AG Güç Hattı</option>
        <option value="YG Güç Hattı" {% if güç_hattı_tipi == 'YG Güç Hattı' %}selected{% endif %}>YG Güç Hattı</option>
      </select>
    </div>

    <div class="form-group">
      <label for="dayanım_gerilimi_güç">Güç Hattının Dayanım Gerilimi:</label><!-- KS4_DAYANIM -->
      <br>
      <select name="dayanım_gerilimi_güç" id="dayanım_gerilimi_güç" required>
        <option value="" disabled {% if not dayanım_gerilimi_güç %}selected{% endif %}>Seçiniz</option>
        <option value="Yeterli Değil Veya Yok" {% if dayanım_gerilimi_güç == 'Yeterli Değil Veya Yok' %}selected{% endif %}>Yeterli Değil Veya Yok</option>
        <option value="1 kV" {% if dayanım_gerilimi_güç == '1kV' %}selected{% endif %}>1kV</option>
        <option value="1.5 kV" {% if dayanım_gerilimi_güç == '1.5 kV' %}selected{% endif %}>1.5 kV</option>
        <option value="2.5 kV" {% if dayanım_gerilimi_güç == '2.5 kV' %}selected{% endif %}>2.5 kV</option>
        <option value="4 kV" {% if dayanım_gerilimi_güç == '4 kV' %}selected{% endif %}>4 kV</option>
        <option value="6 kV" {% if dayanım_gerilimi_güç == '6 kV' %}selected{% endif %}>6 kV</option>
      </select>
    </div>

    <div class="form-group">
      <label for="SPD_güç">Güç Hattındaki SPD Seviyesi:</label>
      <br>
      <select name="SPD_güç" id="SPD_güç" required>
        <option value="" disabled {% if not SPD_güç %}selected{% endif %}>Seçiniz</option>
        <option value="SPD Bulunmuyor" {% if SPD_güç == 'SPD Bulunmuyor' %}selected{% endif %}>SPD Bulunmuyor</option>
        <option value="4-3. Seviye SPD" {% if SPD_güç == '4-3. Seviye SPD' %}selected{% endif %}>4-3. Seviye SPD</option>
        <option value="2. Seviye SPD" {% if SPD_güç == '2. Seviye SPD' %}selected{% endif %}>2. Seviye SPD</option>
        <option value="1. Seviye SPD" {% if SPD_güç == '1. Seviye SPD' %}selected{% endif %}>1. Seviye SPD</option>
      </select>
    </div>


    <div class="form-group">
      <label for="dış_hat_tipi_güç">Güç Hattının Tipi:</label><!-- C_LI_GÜÇ -->
      <br>
      <select name="dış_hat_tipi_güç" id="dış_hat_tipi_güç" required>
        <option value="" disabled {% if not dış_hat_tipi_güç %}selected{% endif %}>Seçiniz</option>
        <option value="Zırhlanmamış Güç Hattı" {% if dış_hat_tipi_güç == 'Zırhlanmamış Güç Hattı' %}selected{% endif %}>Zırhlanmamış Güç Hattı</option>
        <option value="Zırhlanmış Güç Hattı" {% if dış_hat_tipi_güç == 'Zırhlanmış Güç Hattı' %}selected{% endif %}>Zırhlanmış Güç Hattı</option>
        <option value="Çoklu Topraklanmış Nötr Güç Hattı" {% if dış_hat_tipi_güç == 'Çoklu Topraklanmış Nötr Güç Hattı' %}selected{% endif %}>Çoklu Topraklanmış Nötr Güç Hattı</option>
      </select>
    </div>
    <div class="form-group">
      <label for="giriş_GÜÇ">Güç Hattının Giriş Bağlantısı:</label><!-- C_LI_GÜÇ -->
      <br>
      <select name="giriş_GÜÇ" id="giriş_GÜÇ" required>
        <option value="" disabled {% if not giriş_GÜÇ %}selected{% endif %}>Seçiniz</option>
        <option value="Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmamış" {% if giriş_GÜÇ == 'Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmamış' %}selected{% endif %}>Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmamış</option>
        <option value="Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmış" {% if giriş_GÜÇ == 'Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmış' %}selected{% endif %}>Zırh, donanımda olduğu gibi aynı kuşaklama barasına bağlanmış</option>
        <option value="Çoklu Topraklanmış Nötr Güç Hattı" {% if giriş_GÜÇ == "Çoklu Topraklanmış Nötr Güç Hattı" %}selected{% endif %}>Çoklu Topraklanmış Nötr Güç Hattı</option>
      </select>
    </div>
    <div class="form-group">
      <label for="iç_hat_GÜÇ">Hatttın İç Kablaj Tipi:</label> <!-- KS3 -->
      <br>
      <select name="iç_hat_GÜÇ" id="iç_hat_GÜÇ" required>
        <option value="" disabled {% if not iç_hat_GÜÇ %}selected{% endif %}>Seçiniz</option>
        <option value="Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri yok" {% if iç_hat_GÜÇ == 'Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri yok' %}selected{% endif %}>Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri yok</option>
        <option value="Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (10 m^2 mertebesinde döngü alanı)" {% if iç_hat_GÜÇ == 'Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (10 m^2 mertebesinde döngü alanı)' %}selected{% endif %}>Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (10 m^2 mertebesinde döngü alanı)</option>
        <option value="Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (0.5 m^2 mertebesinde döngü alanı)" {% if iç_hat_GÜÇ == 'Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (0.5 m^2 mertebesinde döngü alanı)' %}selected{% endif %}>Zırhlanmamış kablo – döngüleri önlemek için güzergâh tedbiri var (0.5 m^2 mertebesinde döngü alanı)</option>
        <option value="Zırhlanmış kablolar ve metal kanal içinde serili kablolar" {% if iç_hat_GÜÇ == 'Zırhlanmış kablolar ve metal kanal içinde serili kablolar' %}selected{% endif %}>Zırhlanmış kablolar ve metal kanal içinde serili kablolar</option>
      </select>
    </div>

    



    <div class="form-group" style="justify-content: center;">
        <button type="submit">Kaydet ve Devam Et</button>
        
    </div>
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Güç hattı seçimine göre diğer alanları etkin/pasif hale getirme
      var powerSelect = document.getElementById("güç_hattı");
      var fieldsToDisable = ["hat_uzunluk_güç", "tesisat_faktörü_güç", "güç_hattı_tipi", "dayanım_gerilimi_güç", "dış_hat_tipi_güç", "giriş_bağlantısı_güç", "iç_hat_GÜÇ", "SPD_güç","giriş_GÜÇ"];

      function toggleFields() {
        var disable = (powerSelect.value === "Yok");
        fieldsToDisable.forEach(function(fieldId) {
          var field = document.getElementById(fieldId);
          if (field) {
            field.disabled = disable;
          }
        });
      }

      powerSelect.addEventListener("change", toggleFields);
      toggleFields();

      // "Bilinmiyor" checkbox'ına göre Güç Hattı Uzunluğu alanını etkin/pasif yapma
      var bilinmiyorCheckbox = document.getElementById("hat_uzunluk_bilinmiyor");
      var hatUzunlukField = document.getElementById("hat_uzunluk_güç");

      function toggleHatUzunluk() {
        if (bilinmiyorCheckbox.checked) {
          hatUzunlukField.disabled = true;
        } else {
          // Eğer güç hattı "Var" ise alanı tekrar etkinleştir
          if (powerSelect.value !== "Yok") {
            hatUzunlukField.disabled = false;
          }
        }
      }

      bilinmiyorCheckbox.addEventListener("change", toggleHatUzunluk);
      toggleHatUzunluk();
    });
  </script>
{% endblock %}
