{% extends "home.html" %}
{% block content %}
  <h2>Çevre ve Yapı Parametreleri</h2>
  <form method="POST">
    <div class="form-group">
      <label for="lightning_density">Yıllık Fırtınalı Gün Sayısı:</label><!-- N_G -->
      <input
        type="number"
        step="any"
        name="lightning_density"
        id="lightning_density"
        required
        value="{{ lightning_density }}"
        placeholder="Gün"
      />
    </div>
    <div class="form-group">
      <label for="yapı_tipi">Yapının Tipi:</label><!-- L_F -->
      <br>
      <select name="yapı_tipi" id="yapı_tipi" required>
        <option value="" disabled {% if not yapı_tipi %}selected{% endif %}>Seçiniz</option>
        <option value="Patlama Riski Olan Yapılar" {% if yapı_tipi == 'Patlama Riski Olan Yapılar' %}selected{% endif %}>Patlama Riski Olan Yapılar</option>
        <option value="Hastahane" {% if yapı_tipi == "Hastahane" %}selected{% endif %}>Hastahane</option>
        <option value="Otel, Okul, Kamu Binası" {% if yapı_tipi == "Otel, Okul, Kamu Binası" %}selected{% endif %}>Ev, Otel, Okul, Kamu Binası</option>
        <option value="Halka Açık Ağlence Yeri, İbadethane, Müze" {% if yapı_tipi == 'Halka Açık Ağlence Yeri, İbadethane, Müze' %}selected{% endif %}>Halka Açık Ağlence Yeri, İbadethane, Müze</option>
        <option value="Sanayi, Ticari" {% if yapı_tipi == 'Sanayi, Ticari' %}selected{% endif %}>Sanayi, Ticari</option>
        <option value="Diğerleri" {% if yapı_tipi == 'Diğerleri' %}selected{% endif %}>Diğerleri</option>

      </select>
    </div>
    <div class="form-group"><!-- C_E -->
      <label for="çevre_faktörü">Çevrenin Tipi: </label>
      <br>
      <select name="çevre_faktörü" id="çevre_faktörü" required>
        <option value="" disabled {% if not çevre_faktörü %}selected{% endif %}>Seçiniz</option>
        <option value="Kırsal" {% if çevre_faktörü == 'Kırsal' %}selected{% endif %}>Kırsal</option>
        <option value="Banliyö" {% if çevre_faktörü == 'Banliyö' %}selected{% endif %}>Banliyö</option>
        <option value="Şehir" {% if çevre_faktörü == 'Şehir' %}selected{% endif %}>Şehir</option>
        <option value="Yirmi Metreden Uzun Yapılarla Çevrili Şehir" {% if çevre_faktörü == 'Yirmi Metreden Uzun Yapılarla Çevrili Şehir' %}selected{% endif %}>Yirmi Metreden Uzun Yapılarla Çevrili Şehir</option>
      </select>
    </div>

    <div class="form-group">
      <label for="yuzeytip">Zemin Tipi:</label><!-- r_t -->
      <br>
      <select name="yuzeytip" id="yuzeytip" required>
        <option value="" disabled {% if not yuzeytip %}selected{% endif %}>Seçiniz</option>
        <option value="Tarımsal, Betton" {% if yuzeytip == 'Tarımsal, Betton' %}selected{% endif %}>Tarımsal, Betton</option>
        <option value="Mermer, Seramik" {% if yuzeytip == 'Mermer, Seramik' %}selected{% endif %}>Mermer, Seramik</option>
        <option value="Çakıl, Moket, Halı" {% if yuzeytip == 'Çakıl, Moket, Halı' %}selected{% endif %}>Çakıl, Moket, Halı</option>
        <option value="Asfalt, Muşamba, Halı" {% if yuzeytip == 'Asfalt, Muşamba, Halı' %}selected{% endif %}>Asfalt, Muşamba, Halı</option>
      </select>
    </div>
    <div class="form-group">
      <label for="yapisecim">Yapının Bağıl Konumu:</label><!-- C_D -->
      <select name="yapisecim" id="yapisecim" required>
        <option value="" disabled {% if not yapisecim %}selected{% endif %}>Seçiniz</option>
        <option value="Daha yüksek cisimler ile çevrelenen yapı" {% if yapisecim == 'Daha yüksek cisimler ile çevrelenen yapı' %}selected{% endif %}>Daha yüksek cisimler ile çevrelenen yapı</option>
        <option value="Aynı yükseklikte veya daha alçak cisimler ile çevrelenen yapı" {% if yapisecim == 'Aynı yükseklikte veya daha alçak cisimler ile çevrelenen yapı' %}selected{% endif %}>Aynı yükseklikte veya daha alçak cisimler ile çevrelenen yapı</option>
        <option value="Ayrık yapı: yakında başka cisimlerin olmaması" {% if yapisecim == 'Ayrık yapı: yakında başka cisimlerin olmaması' %}selected{% endif %}>Ayrık yapı: yakında başka cisimlerin olmaması</option>
        <option value="Tepe veya tepecik üzerinde ayrık yapı" {% if yapisecim == 'Tepe veya tepecik üzerinde ayrık yapı' %}selected{% endif %}>Tepe veya tepecik üzerinde ayrık yapı</option>
      </select>
    </div>
    <div class="form-group">
      <label for="yıldırımdan_korunma_seviyesi">Yapının Yıldırımdan Korunma Seviyesi:</label><!-- P_B -->
      <br>
      <select name="yıldırımdan_korunma_seviyesi" id="yıldırımdan_korunma_seviyesi" required>
        <option value="" disabled {% if not yıldırımdan_korunma_seviyesi %}selected{% endif %}>Seçiniz</option>
        <option value="Yapı LPS ile Korunmuyor" {% if yıldırımdan_korunma_seviyesi == 'Yapı LPS ile Korunmuyor' %}selected{% endif %}>Yapı LPS ile Korunmuyor</option>
        <option value="1. Seviye LPS ile Korunuyor" {% if yıldırımdan_korunma_seviyesi == '1. Seviye LPS ile Korunuyor' %}selected{% endif %}>1. Seviye LPS ile Korunuyor</option>
        <option value="2. Seviye LPS ile Korunuyor" {% if yıldırımdan_korunma_seviyesi == '2. Seviye LPS ile Korunuyor' %}selected{% endif %}>2. Seviye LPS ile Korunuyor</option>
        <option value="3. Seviye LPS ile Korunuyor" {% if yıldırımdan_korunma_seviyesi == '3. Seviye LPS ile Korunuyor' %}selected{% endif %}>3. Seviye LPS ile Korunuyor</option>
        <option value="4. Seviye LPS ile Korunuyor" {% if yıldırımdan_korunma_seviyesi == '4. Seviye LPS ile Korunuyor' %}selected{% endif %}>4. Seviye LPS ile Korunuyor</option>
        <option value="Sürekli Metal veya Takviyeli Beton İskelete Sahip Yapı" {% if yıldırımdan_korunma_seviyesi == 'Sürekli Metal veya Takviyeli Beton İskelete Sahip Yapı' %}selected{% endif %}>Sürekli Metal veya Takviyeli Beton İskelete Sahip Yapı</option>
        <option value="Metal çatıyı tamamen koruyan ve sürekli metal veya takviyeli beton iskelete sahip yapı" {% if yıldırımdan_korunma_seviyesi == 'Metal çatıyı tamamen koruyan ve sürekli metal veya takviyeli beton iskelete sahip yapı' %}selected{% endif %}>Metal çatıyı tamamen koruyan ve sürekli &#10; metal veya takviyeli beton iskelete sahip yapı</option>
      </select>
      </div>

    <div class="form-group">
      <label for="SPD">Yapıdaki Kordineli SPD Seviyesi:</label><!-- P_SPD -->
      <br>
      <select name="SPD" id="SPD" required>
        <option value="" disabled {% if not SPD %}selected{% endif %}>Seçiniz</option>
        <option value="SPD Bulunmuyor" {% if SPD == 'SPD Bulunmuyor' %}selected{% endif %}>SPD Bulunmuyor</option>
        <option value="4-3. Seviye SPD" {% if SPD == '4-3. Seviye SPD' %}selected{% endif %}>4-3. Seviye SPD</option>
        <option value="2. Seviye SPD" {% if SPD == '2. Seviye SPD' %}selected{% endif %}>2. Seviye SPD</option>
        <option value="1. Seviye SPD" {% if SPD == '1. Seviye SPD' %}selected{% endif %}>1. Seviye SPD</option>
      </select>
    </div>

      <div class="form-group"><!-- h_z -->
        <label for="özel_tehlike">Özel Tehlike:</label>
        <br>
        <select name="özel_tehlike" id="özel_tehlike" required>
          <option value="" disabled {% if not özel_tehlike %}selected{% endif %}>Seçiniz</option>
          <option value="Özel Tehlike Yok" {% if özel_tehlike == 'Özel Tehlike Yok' %}selected{% endif %}>Özel Tehlike Yok</option>
          <option value="Düşük Panik Seviyesi" {% if özel_tehlike == 'Düşük Panik Seviyesi' %}selected{% endif %}>Düşük Panik Seviyesi</option>
          <option value="Orta Panik Seviyesi" {% if özel_tehlike == 'Orta Panik Seviyesi' %}selected{% endif %}>Orta Panik Seviyesi</option>
          <option value="Tahliye Zorluğu" {% if özel_tehlike == 'Tahliye Zorluğu' %}selected{% endif %}>Tahliye Zorluğu</option>
          <option value="Yüksek Panik Seviyesi" {% if özel_tehlike == 'Yüksek Panik Seviyesi' %}selected{% endif %}>Yüksek Panik Seviyesi</option>
        </select>
      </div>
    
    <div class="form-group">
      <label for="yapi_max_h">Yapının Maximum Yüksekliği:</label><!-- A_D -->
      <input
        type="number"
        step="any"
        name="yapı_max_h"
        id="yapi_max_h"
        required
        value="{{ yapı_max_h }}"
        placeholder="Metre"
      />
    </div>
    
    <div class="form-group">
      <label for="yapi_h">Yapının Yüksekliği:</label><!-- A_D -->
      <input
        type="number"
        step="any"
        name="yapı_h"
        id="yapi_h"
        required
        value="{{ yapı_h }}"
        placeholder="Metre"
      />
    </div>
    
    <div class="form-group">
      <label for="genislik">Yapının Genişlişliği:</label><!-- A_D -->
      <input
        type="number"
        step="any"
        name="genislik"
        id="genislik"
        required
        value="{{ genislik }}"
        placeholder="Metre"
      />
    </div>
    
    <div class="form-group">
      <label for="uzunluk">Yapının Uzunluğu:</label><!-- A_D -->
      <input
        type="number"
        step="any"
        name="uzunluk"
        id="uzunluk"
        required
        value="{{ uzunluk }}"
        placeholder="Metre"
      />
    </div>
    <div class="form-group" style="justify-content: center;">
        <button type="submit">Kaydet ve Devam Et</button>
        
    </div>
        
  </form>
{% endblock %}
